<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="resolutions" type="QuickResolutionSwitcher.Configuration.ResolutionConfigurationSection, QuickResolutionSwitcher" />
	</configSections>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<resolutions>
		<resolution value="3440x1440"/>
		<resolution value="2560x1440"/>
		<resolution value="1920x1080"/>
	</resolutions>
</configuration>